<div class="max-w-4xl mx-auto pt-10 px-4">
  
  @if (usuario()) {
    <div class="bg-white p-8 rounded-3xl border border-gray-200 shadow-sm flex items-center gap-8 mb-8">
      <img [src]="usuario().fotoPerfil" class="w-32 h-32 rounded-full object-cover border-4 border-purple-100 shadow-sm" />
      <div class="flex flex-col ">
        <div class="flex ">
          <h1 class="text-3xl font-bold text-gray-800 uppercase">{{ usuario().nombre }} {{ usuario().apellido}}</h1>
        </div>
        <div class="flex grid-cols-2 pt-1">
          <div class="col-auto">
            <p class="text-gray-500 mt-1">Usuario: {{ usuario().username }}</p>
            <p class="text-gray-500 mt-1">Mail: {{ usuario().email }}</p>
            <p class="text-gray-500 mt-1">Nacimiento: {{ usuario().fechaNacimiento }}</p>
          </div>
          <div class="col-auto pl-10">
            <p class="text-gray-500 mt-1">Perfil: {{ usuario().perfil }}</p>
            <p class="text-gray-500 mt-1">Descripcion: {{ usuario().descripcion }}
            </p>
          </div>
          
        </div>
          
        
      </div>
    </div>
  } @else {
    <div class="text-center p-10">Cargando perfil...</div>
  }

  <div class="bg-white rounded-3xl border border-gray-200 shadow-sm overflow-hidden">
    <div class="flex items-center justify-center border-b text-purple-700 py-4 font-semibold transition-all bg-purple-50">
        Publicaciones

    </div>

    <div class="p-6">
    
        @for (p of misPublicaciones(); track p._id) {
          <app-publicacion [publicacion]="p" (eliminada)="cargarPublicaciones(usuario()._id)"></app-publicacion>
        } @empty {
          <div class="text-center py-12 flex flex-col items-center ">
            <p class="text-gray-500 text-lg">Aún no has realizado ninguna publicación.</p>
          </div>
        }

  </div>
</div>