
<div class="grid grid-cols-5 min-h-screen bg-linear-to-b from-[#540863] via-[#71306F] to-[#92487A]">
  <div *ngIf="cargando()" class="fixed inset-0 bg-black/20 flex items-center justify-center z-50">
    <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-purple-600"></div>
  </div>

  <div class="col-span-1 border-r border-r-[#92487A] ">
    <div class="group sticky top-1/2 -translate-y-1/2 flex flex-col items-center">
      <a href="/perfil" class="group flex flex-col items-center gap-4  group-hover:drop-shadow-[0_0_5px_rgba(255,211,213,0.5)]">
        <img *ngIf="usuario.foto"
          [src]="usuario.foto"
          class="w-24 h-24 rounded-full object-cover group-hover:shadow-md "/>
          
        <div *ngIf="!usuario.foto" 
          class="w-24 h-24 rounded-full bg-purple-400 flex items-center justify-center text-white text-3xl font-bold">
          {{ usuario | iniciales }}
        </div>

        <h1 class="text-2xl font-bold text-[#FFD3D5] leading-5 uppercase ">
          {{ usuario.nombre }}
        </h1>
        <h2 class="leading-0 text-xs font-semibold transition-colors text-[#E49BA6]">
          Ir a mi perfil
        </h2>
      </a>
    </div>
    <a href="/dashboard-usuarios">holaaa</a>
    <div></div>
    <a href="/dashboard-estadisticas">stats</a>
  </div>

  <div class="col-span-3 border-r border-r-[#92487A] flex flex-col items-center pt-10 px-4 overflow-y-auto shadow-[15px_0_20px_-15px_rgba(0,0,0,0.1),-15px_0_20px_-15px_rgba(0,0,0,0.1)]">
    
   <div class="w-full max-w-3xl bg-[#92487A] rounded-3xl border border-[#E49BA6] shadow-md p-6 mb-8 mt-9 ">

    <div class="flex gap-4">

      <img *ngIf="usuario.foto"
        [src]="usuario.foto"
        class="w-14 h-14 rounded-full object-cover border-2 border-[#E49BA6] shadow-sm"/>
        
      <div *ngIf="!usuario.foto" 
          class="w-14 h-14 rounded-full bg-purple-400 flex items-center justify-center text-white text-xl font-bold">
        {{ usuario  | iniciales }}
      </div>


      <div class="flex-1">

        <input
          type="text"
          [(ngModel)]="nuevaPublicacion.titulo"
          placeholder="Título de la publicación"
          class="w-full text-xl text-[#FFD3D5] font-semibold placeholder:text-[#FFD3D5] border-b border-[#FFD3D5] pb-3 focus:outline-none focus:border-b-2 focus:border-b-[#FFD3D5]  transition-all"
        />

        <textarea
          [(ngModel)]="nuevaPublicacion.mensaje"
          placeholder="¿Qué estás pensando?"
          rows="4"
          class="w-full mt-4 p-4 text-[#FFD3D5] border placeholder:text-[#FFD3D5] border-[#FFD3D5] rounded-2xl resize-none focus:outline-none focus:ring focus:ring-[#E49BA6] transition-all"
        ></textarea>

      <div class="flex justify-between items-center">

       <label class="cursor-pointer inline-flex items-center gap-2 text-[#E49BA6] hover:text-[#FFD3D5] transition">
        <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8v8a5 5 0 1 0 10 0V6.5a3.5 3.5 0 1 0-7 0V15a2 2 0 0 0 4 0V8"/>
        </svg>

        <input type="file" (change)="subirImagen($event)" accept="image/*"class="hidden"/>
          <span *ngIf="!cargada()">
            Subir imagen
          </span>

          <span *ngIf="cargada()" class="flex items-center gap-1 font-medium">
            ✓ Imagen cargada
          </span>
        </label>

          <button
            (click)="enviarPublicacion()"
            class="px-7 mt-1 py-2.5 cursor-pointer text-[#92487A] bg-[#E49BA6] hover:bg-[#FFD3D5] font-semibold rounded-full shadow-md hover:shadow-lg transition-all duration-300 hover:scale-105">
            Publicar
          </button>
        </div>
      </div>

    </div>
    </div>

    <div class="w-full max-w-3xl flex justify-end mb-3">
        <div class="relative flex items-center">
          <select
          (change)="cambiarOrden($event)" 
          class="rounded-b-lg border-b border-[#E49BA6] text-sm text-[#E49BA6] focus:outline-none cursor-pointer  hover:border-[#FFD3D5] hover:text-[#FFD3D5] transition-all">
          <option class="bg-[#92487A] text-[#E49BA6]" value="fecha">
            Más recientes
          </option>
          <option class="bg-[#92487A] text-[#E49BA6]" value="likes">
            Más populares
          </option>
        </select>
      </div>
    </div>

    <div class="w-full max-w-3xl flex flex-col gap-4 mb-4">

      <app-publicacion
        *ngFor="let p of listaPublicaciones()"
        [publicacion]="p"
        (eliminada)="obtenerPublicaciones()"
        (likeCambiado)="actualizarPublicacion($event)"
        (editada)="procesarEdicion($event)">
        
      </app-publicacion>

      <div 
        scrollInfinito 
        (cargarMas)="cargarMas()"
        class="flex justify-center mb-8 mt-10">

        @if(noHayMas()) {
          <div class="flex items-center gap-3 text-gray-400 text-sm">
            <span class="h-px w-16 bg-gray-300"></span>

            <span>
              No hay más publicaciones
            </span>

            <span class="h-px w-16 bg-gray-300"></span>
          </div>
        }
</div>